:root{
	--black : #000;

	--poppins: 'montserrat', sans-serif;
}

*{
	/*border: 1px solid red;*/
	font-family: var(--poppins);
	
	/*display: none;*/
}

body{
	color: var(--black);
	text-transform: uppercase;
}

nav{
	border-bottom: 1px solid var(--black);
	margin-bottom: 10px;
}

.navbar-brand{
	font-size: 2.5rem;
	font-family: 'PT Serif', serif;
}

.nav-logo{
	width: 160px;
}

.social-media a{
	color: var(--black);
	font-size: 2rem;
	transition: .2s;
}

.social-media a:hover{
	opacity: .5;
}

.hero{
	padding: 20px;
	margin: 20px 0;
	border-bottom: 1px solid var(--black);
	font-family: var(--poppins);
	border-top: 1px solid var(--black);
	position: relative;
}

.hero h2{
	position: absolute;
	bottom: 2%;
	/*transform: translateY(-100px);*/
	left: 5%;
	color: #fff;
	text-decoration: underline;
	background-color: rgba(0,0,0,.3);
	padding: 5px;
	font-size: 1.6rem;
	z-index: 100;
}

.hero h2:hover{
	color: var(--black);
}

.hero-img{
	padding: 0;
	position: relative;
	/*margin: 0;*/
}

.flex-latest{
	display: flex;
	justify-content: center;
}

.available img{
	width: 45px;
}

.available a{
	text-decoration: none;
	color: var(--black);
}

.available a:hover{
	color: #ea501f;
}

.shop{
	padding: 20px;
	/*border-top: 1px solid var(--black);
	border-bottom: 1px solid var(--black);*/
}

.products{
	/*border: 1px solid var(--black);*/
}

#tandalatest, #tandabest{
	position: absolute;
	margin-top: -30px;
}

.product{
	position: relative;
	border: 1px solid var(--black);
	padding: 30px;
	cursor: pointer;
	transition: .5s;
}

.latest .products{
	/*border: 1px solid var(--black);*/
}

.product img{
	/*pointer-events: none;*/
}

.product .new{
	position: absolute;
	top: 40px;
	right: 40px;
	width: 50px;
}

.product:hover{
	/*opacity: .8;*/
}

.col-product{
	padding: 0;
	margin: 0;
}

.product h5{
	margin-top: 15px;
	pointer-events: none;
	/*height: 70px;*/
}

.product h6{
	/*height: 50px;*/
	pointer-events: none;
}

.product-body{
	/*min-height: 140px;*/
}

.product span{
	color: red;
	text-decoration: line-through;
}

.quotes{
	padding: 20px;
	margin: 20px 0;
	max-width: 500px;
	border-top: 1px solid var(--black);
	border-bottom: 1px solid var(--black);
	border-radius: 0px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.quotes-head{
	text-align: center;
}

.quotes-head img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid #111;
}

.quotes-head h5{
	font-size: 1.25rem;
	/*color: var(--hitam);*/
	color: var(--black);
	/*opacity: ;*/
	/*text-shadow: 1px 1px 1px #fff;*/

}

.quotes-head h6{
	font-size: 1rem;
	color: gold;
	/*opacity: .8;*/
	/*text-shadow: none;*/
}

.quotes .fa-star{
	margin: 0 4px;
	text-shadow: 2px 2px 1px black;
}

.quotes-body{
	color: var(--black);
	text-align: center;
	margin-top: 10px;
	min-height: 70px;
	text-transform: none;
}

.quotes-button{
	margin-top: 20px;
	text-align: center;
}

 .quotes button{
	border: none;
	background-color: var(--black);
	color: #fff;
	
	padding: 5px 10px;

	cursor: pointer;
	border: 2px solid var(--black);
	transition: .3s;
}

.next-prev button{
	border-radius: 15px;
}

.quotes button:hover{
	background-color: #fff;
	color: var(--black);
}


.contact{
	padding: 40px;
	background-color: var(--bg-black1);
	border-radius: 20px;
	color: var(--font-white1);
	margin-top: 20px;
}

.contact h2{
	font-family: var(--k2d);
	font-size: var(--font-sedang);

}

.contact h3{
	color: var(--font-white1);
}

.contact a{
	color: var(--font-white2);
	text-decoration: none;
}

.contact i{
	color: var(--pink);
	font-size: 2.5rem;
}

.contact .fa-whatsapp{
	/*color: 	#25D366;*/
	color: #fff;
	background-color: #25D366;
	padding: 3px 6px;
	border-radius: 25px ;
}

.contact-info{
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.float{
	position:fixed;
	width:80px;
	height:80px;
	bottom:40px;
	right:40px;
	background-color:#fff;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
  z-index:96;
  border: 3px solid #ea501f;
}

.my-float{
	margin-top:7px;
	width: 40px;
}

footer{
	border-top: 1px solid var(--black);
	text-transform: none !important;
}

.footer{
	padding: 0 20px;


}

.socmed{
	margin: 0;
	border-left: 1px solid var(--black);
}

.footer .socmed a{
	color: var(--font-white2);
	text-decoration: none;
	transition: .3s;
}

.footer .socmed a:hover{
	color: #888;
}

.footer h4{
	font-size: 1.5rem;
}
  
.footer .socmed i{
	color: var(--pink);
	font-size: 2rem;
}

.row-footer{
	border-bottom: 1px solid var(--black);
}

.copyright{
	margin: 10px 20px;
}

.copyright .fa-heart{
	color: red;
}

.copyright a{
	text-decoration: none;
	color: var(--black);
	transition: .3s;
}

.copyright a:hover{
	color: #c651cd;
}


@media(max-width: 576px){
	.product{
		padding: 10px;
	}

	.navbar-brand{
		font-size: 1.7rem;
	}

	.product h6{
		/*font-size: .5rem;*/
	}


}

@media(max-width: 767px){
	.product h5{
		font-size: 1rem;
	}

	.available h3{
		font-size: 1.2rem;
	}

	.available img {
		width: 30px;
	}

	.socmed{
		border-top: 1px solid var(--black);
		border-left: none;
		
	}

	.float{
	width:55px;
	height:55px;
	bottom:15px;
	right:5px;
}

.my-float{
	margin-top:0px;
	width: 25px;
}

	footer .about p{
		font-size: .9rem;
	}

	footer .copyright p{
		font-size: .8rem;
	}

	.hero h2 {
		font-size: 1.1rem !important;
	}
}

@media (max-width: 1024px){
		.product .new{
			width: 30px;
			top: 10px;
			right: 10px;
		}

		.hero h2{
			font-size: 1.5rem;
		}

		/*.hero h2{*/
			/*font-size: 1.5rem;
		}*/
}